/*! HTML5 Boilerplate v6.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
    =========================General=========================
 */

.no-margin {
    margin: 0;
}

/*
    =========================NAV=========================
 */

#menu  {
    position:fixed;
    top:0px;
    left:40%;
    display: inline-block;
    list-style-type: none;
    background-color: rgba(211, 211, 211, 0.2);
    padding: 10px;
    border-radius: 0.5em;
    border-style: solid;
    border-color: whitesmoke;
    display: none;
}

#menu li {
    display: inline;
    padding: 10px;
    margin: auto;
}

#menu a {
    color: mediumpurple;
    text-decoration: none;
}


/*
    =========================MAIN=========================
 */


.header {
    margin: 0;
    color: white;
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
}

.header-container {
    background-image: url("https://source.unsplash.com/NROJUYgpjKE/5184x3456");
    background-size: 100% 100%;
    height: 100vh;
    /*width: 100vw;*/
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main sidebar sidebar"
        "footer footer footer footer";
    font-family: 'Montserrat Alternates', sans-serif;
    justify-items: center;
}

h2 {
    font-family: 'Viga', sans-serif;
}
.sidebar {
    grid-area: sidebar;
}
.lightning {
    grid-area: sidebar;
}

.header-list {
    /*margin: 0;*/
    grid-area: main;
    /*justify-content: center;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*text-align: center;*/
}

.ease-one {
    position: relative;
    right: 50px;
    opacity: 0;
}

.ease-two {
    position: relative;
    right: 50px;
    opacity: 0;
}

.ease-three {
    position: relative;
    right: 50px;
    opacity: 0;
}

.ease-four {
    position: relative;
    right: 125px;
    opacity: 0;
}

.ease-five {
    opacity: 0;
}

.header-list ul {
    display: inline-block;
    list-style-type: none;
    background-color: rgba(211, 211, 211, 0.2);
    padding: 10px;
    border-radius: 0.5em;
    border-style: solid;
    border-color: whitesmoke;
}

.header-list li {
    display: inline;
    padding: 10px;
}

.header-list a {
    color: mediumpurple;
    text-decoration: none;
}

/*
    =========================ABOUT=========================
 */

.about-container {
    margin: 0;
    background: linear-gradient(to bottom, #292728, #FAFAFA 80%);
    /*background-image: url("https://source.unsplash.com/jBlynjgG5OM/5184x3456");*/
    /*background-image: url("https://source.unsplash.com/iyfjDcAr_2g/5184x3456");*/
    background-size: 100% 100%;
    height: 100vh;
}

.about-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 48.75% 2.5% 48.75%;
    grid-template-rows: auto;
    grid-template-areas:
        "item1 . ."
        ". . item2"
        "item3 . ."
        ". . item4";
    justify-items: center;
    align-items: center;
    /*overflow: hidden;*/
}

.about-header {
    margin: 0;
    justify-self: center;
    grid-area: header;
}

.about-list {
    font-family: 'Montserrat Alternates', sans-serif;
}

.about-list li {
    /*padding: 5px;*/
}

.box {
    font-size: 1em;
    min-width: 80%;
    border-radius: 0.5em;
    padding: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
}

.about1 {
    grid-area: item1;
    background-color: rgba(50, 30, 150, 0.5);
    justify-self: end;
}

.about2 {
    grid-area: item2;
    background-color: rgba(150, 210, 98, 0.5);
    justify-self: start;
}

.about3 {
    grid-area: item3;
    background-color: rgba(100, 56, 200, 0.5);
    justify-self: end;
    display: grid;
}

.about4 {
    grid-area: item4;
    background-color: rgba(155, 180, 83, 0.5);
    justify-self: start;
}

.image-block {
    justify-self: center;
    align-self: center;
}
.image-block img {
    width: 100px;
    height: 75px;
}


/*
    =========================Projects=========================
 */

.projects-container {
    padding: 2.5%;
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom, #FAFAFA, #555555 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pen {
    cursor: pointer;
    border: 1px black solid;
    margin: auto;
}

.pen a img {
    /*height: 850px;*/
    width: 1400px;
    object-fit: contain;
}

#calc {
}

#wiki {

}

#wiki {
}

.pen-icons {
    margin: 2.5%;
}

/*
    =========================Contact=========================
 */

.contact-container {
    background-image: url("https://source.unsplash.com/jBlynjgG5OM/5184x3456");
    background-size: 100% 100%;
    text-align: center;
    margin: 0;
    height: 100vh;
}

.contact-information {
    padding-top: 5%;
}

footer {
    position: relative;
    bottom: 0;
    background-color: teal;
    height: auto;
    width: 100%;
}

/*
    =========================Media Queries=========================
 */

@media (max-width: 1000px) {
    .about-grid {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: auto;
        grid-template-areas:
            ". item1 ."
            ". item2 ."
            ". item3 ."
            ". item4 .";
    }

    .box {
        min-width: 100%;
    }
    .about1 {
        justify-self: center;

    }

    .about2 {
        justify-self: center;
    }

    .about3 {
        justify-self: center;
    }

    .about4 {
        justify-self: center;
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: inline-block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
